[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "RGeckoboard"]
	path = RGeckoboard
	url = https://github.com/ploner/rgeckoboard
	shallow = true
	registered = true
[submodule "RMixpanel"]
	path = RMixpanel
	url = https://github.com/ploner/rmixpanel
	shallow = true
	registered = true
